<header id="initial">
  <dl id="hero">
    <dt>
      <button aria-label="Discover {{A_o.NAME_s}}">
        <svg id="entrance" class="svg_icon"><use href="#icon_logo"/></svg>
        <i id="logo" aria-label="progressive content"><em>progress</em><em>econtent</em></i>
      </button>
    </dt>
    <dd data-sub="Fork & use">open source<br/>
      <span>Github</span>
    </dd>
    <dd data-sub="Development & production independence">frameworkless<br/>
      <span>JAMstack</span>
    </dd>
    <dd data-sub="AI deep learning & content components">partitioned content<br/>
      <span>architecture</span>
    </dd>
    
  </dl>
</header>
