<header id="initial">
  <ul id="initial_slogan" aria-label="Discover {{A_o.NAME_s}}">
    <li><b>OPEN SOURCE</b><i>GITHUB</i></li>
    <li><b>FRAMEWORKLESS</b><i>JAMstack</i></li>
    <li id="initial_logo">
        <b>progress</b>
        <svg id="svg_logo" class="svg_icon"><use href="#icon_logo"/></svg>
        <b>econtent</b>
    </li>
    <li><b>PARCELED</b><i>DESIGN</i></li>
  </ul>
</header>
