<header id="initial">
  <ul id="initial_hero" aria-label="Discover {{A_o.NAME_s}}">
    <li id="initial_logo">{% include "parts/body/svg_logo.njk" %}</li>
    <li id="initial_discover"><b>DISCOVER</b><i>AN INNOVATIVE WEBSITE ARCHITECTURE</i></li>
  </ul>
</header>
