<header id="initial">
  <button>
    <svg class="svg_icon initial"><use href="#icon_unfold"/></svg>
  </button>
  <dl id="slogan">
    <dt>partitioned content</dt>
    <dd>ARIA semantic<br/><span>HTML</span></dd>
    <dd>properties driven<br/><span>CSS</span></dd>
    <dd>library free<br/><span>JavaScript</span></dd>
    <dd>framework free<br/><span>JAMstack</span></dd>
  </dl>
</header>