<nav id="nav_bar">
  <button id="scroll_top" class="invisible" title="Go to page top">{{_svg_icon}}<use href="#icon_top"/></button>
  <button id="sections_nav" title="Show page {{A_o.SLOTS_s}}">
  <!--{{_svg_icon}}<use href="#icon_sections"/>-->
{% include "parts/body/header.njk" %}
  </button>
  <button id="scroll_bottom" class="invisible" title="Go to page bottom">{{_svg_icon}}<use href="#icon_bottom"/></button>
</nav>
<aside id="sections_slider" class="aside"></aside>
