/*=== BOOKMARK ===*/
#bookmark_page,
#bookmark_content,
#bookmark_history,
#bookmark_content_list,
#bookmark_history_list,
#bookmark_history_list > li,
#bookmark_form,
__                     {display: flex;
                        flex-direction: column}

#bookmark_history_list > li > dl,
__                     {display: flex}



#bookmark_page,
#bookmark_page > *,
#bookmark_page ul,
#bookmark_form,
/*#bookmark_page li,*/
__                     {width: 100%}


#bookmark_page button,
__                     {width: 25%}

#bookmark_history_list > li > dl > dt,
__                     {flex-basis: 25%}
#bookmark_history_list > li > dl > dd:first-of-type,
__                     {flex-basis: 50%}
#bookmark_history_list > li > dl > dd:last-of-type,
__                     {flex-basis: 15%}
#bookmark_history_list button,
__                     {flex-basis: 10%}


#bookmark_history,
__                     {max-height: 30vh}
#bookmark_history,
__                     {overflow-y: auto}



#bookmark_page,
__                     {margin-top: var(--PAD_6)}


#bookmark_page > dt,
__                     {margin: var(--PAD_4) 0 0  var(--PAD_2)}

#bookmark_page > dd,
__                     {margin-bottom: 0}

#bookmark_page input,
#bookmark_page button,
__                     {margin: var(--PAD_2)}


#bookmark_content_list > li,
#bookmark_history_list > li,
__                     {margin: var(--PAD_1)}

#bookmark_history_list button,
__                     {margin: 0}


#bookmark_page input,
__                     {padding: var(--PAD_2)}

#bookmark_content_list > li,
#bookmark_history_list > li,
#bookmark_history_list button,
__                     {padding: var(--PAD_1)}


#bookmark_name,
__                     {padding-left: var(--PAD_4)}

#bookmark_page button,
__                     {align-self: flex-end}



#bookmark_content_list > li,
#bookmark_history_list > li,
__                     {border: 1px solid transparent}

#bookmark_name,
__                     {border: none;
                        border-bottom: 1px solid var(--c_prim_ne)}

#bookmark_page button,
#bookmark_content,
#bookmark_history,
#bookmark_form,
__                     {border: 1px solid var(--c_prim_ne)}


#bookmark_page dd,
#bookmark_page button,
#bookmark_page input,
#bookmark_content_list > li,
#bookmark_history_list > li,
__                     {border-radius: 4px}

.drag_over,
__                     {outline: 4px solid var(--c_highlight_hi)}


#bookmark_form > *,
#bookmark_refresh,
__                     {color: var(--c_prim_lo_4)}



#bookmark_form *,
#bookmark_page button,
__                     {background: transparent}

#bookmark_content_list > li,
#bookmark_history_list > li,
#bookmark_name,
__                     {background: var(--c_prim_hi_2)}



#bookmark_content_list > li:hover,
#bookmark_history_list > li:hover,
#bookmark_name:hover,
__                     {color: var(--c_sec_lo);
                        background: var(--c_sec_hi);
                        border-color: var(--c_decor_lo)}


.semi_opac,
__                     {opacity: .25}

.full_opac,
__                     {opacity: 1}

/*
#bookmark_page,
#bookmark_page dt,
#bookmark_name::placeholder,
*/
#bookmark_content li,
#bookmark_history_list dl *,
__                     {--size_ratio: .9}


#bookmark_page input,
#bookmark_page > dt,
#bookmark_content li,
#bookmark_history_list dl *,
__                     {font-weight: 500}



#bookmark_content li,
#bookmark_history_list dl *,
__                     {line-height: .9}

#bookmark_page > dt,
#bookmark_name::placeholder,
__                     {font-style: italic}


/*
#bookmark_page > dd:hover,
__                     {box-shadow: 12px 12px 32px 100vmax var(--c_shadow_lo)}
*/



[draggable],
__                     {user-select: none}


