/*=== SLOT ===*/

div[data-id="code_ref"],
__                     {display:grid;place-items:center}


__                     {display:flex;justify-content:flex-start}


code[data-id="code"],
dl[data-id="code_ref"],
__                     {position:relative}


__                     {position:absolute}


__                     {top:0}



__                     {left:0}

code[data-id="code"],
dl[data-id="code_ref"],
__                     {left:50%;right:50%}/* !!!! full width */

code[data-id="code"],
dl[data-id="code_ref"],
__                     {margin-left:-{{C_o.HALF_WIDTH}};margin-right:-{{C_o.HALF_WIDTH}}}    /* !!!! full width but keep margins for scaling */

code[data-id="code"],
__                     {margin-top:{{C_o.PAD_8}}}

code[data-id="code"],
__                     {padding:{{C_o.PAD_2}} {{C_o.PAD_2}} {{C_o.PAD_2}} {{C_o.PAD_4}}}



code[data-id="code"],
dl[data-id="code_ref"],
__                     {width:100vw}  /* !!!! full width at scale .8 */


__                     {width:100%}



__                     {height:auto}



__                     {border-left:8px solid var(--c_box_lo)}


__                     {border-radius:8px}


__                     {cursor:pointer}


__                     {box-shadow:12px 12px 32px 100vmax var(--c_shadow_ne)}



__                     {color:var(--c_prim_lo_4)}


__                     {stroke:none}



__                     {fill:var(--c_prim_hi_2)}


code[data-id="code"],
__                     {color: hsla(var(--c_hue_p) var(--c_sat_hi_2) var(--c_lum_lo_4)/1)}
code[data-id="code"],
__                     {background: hsla(var(--c_hue_p) var(--c_sat_lo_2) var(--c_lum_hi_2)/.9)}


code,
code *,
__                     {font-family:var(--font_mono)}


__                     {font-size:inherit}


__                     {font-weight:500}


__                     {text-transform:uppercase}

p > code,
pre > code,
__                     {white-space:pre}


__                     {cursor:pointer}


/*
code[data-id="code"],
__                     {box-shadow:{{C_o.BOX_SHADOW}}}
*/


/*
code[data-id="code"],
__                     {transform:scale( .8 )}*/  /* !!!! full width at width 125vw */

code[data-id="code"],
__                     {transform-origin:top left}

__                     {transition:transform .2s ease}

