/*=== SLOT ===*/

div[data-id="code_ref"],
__                     {display:grid;place-items:center}


__                     {display:flex;justify-content:flex-start}


code[data-id="code"],
dl[data-id="code_ref"],
__                     {position:relative}


__                     {position:absolute}


__                     {top:0}



__                     {left:0}

code[data-id="code"],
dl[data-id="code_ref"],
__                     {left:50%;right:50%}/* !!!! full width */

code[data-id="code"],
dl[data-id="code_ref"],
__                     {margin: 0 {{C_o.HALF_WIDTH}}    /* !!!! full width but keep margins for scaling */

code[data-id="code"],
__                     {margin-top:{{C_o.PAD_8}}}

code[data-id="code"],
__                     {padding:{{C_o.PAD_2}} {{C_o.PAD_2}} {{C_o.PAD_2}} {{C_o.PAD_4}}}



code[data-id="code"],
dl[data-id="code_ref"],
__                     {width:125vw}  /* !!!! full width at scaled .8 */


__                     {width:100%}



__                     {height:auto}



__                     {border-left:8px solid var(--c_box_lo)}


__                     {border-radius:8px}


__                     {cursor:pointer}


__                     {box-shadow:12px 12px 32px 100vmax var(--c_shadow_ne)}



__                     {color:var(--c_prim_lo_4)}


__                     {stroke:none}



__                     {fill:var(--c_prim_hi_2)}


code[data-id="code"],
__                     {background:var(--c_prim_trans)}


code,
code *,
__                     {font-family:var(--font_mono)}


__                     {font-size:inherit}


__                     {font-weight:500}


__                     {text-transform:uppercase}

p > code,
pre > code,
__                     {white-space:pre}


__                     {cursor:pointer}


code[data-id="code"],
__                     {box-shadow:{{C_o.BOX_SHADOW}}}


code[data-id="code"],
__                     {transform:scale( .8 )}  /* !!!! full width at width 125vw */

code[data-id="code"],
__                     {transform-origin:top left}

__                     {transition:transform .2s ease}



/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

 /*
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[data-id="code"]::-moz-selection, code[data-id="code"] ::-moz-selection
                       {background:#b3d4fc;
}
*/

/*
pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[data-id="code"]::selection, code[data-id="code"] ::selection
                       {background:#b3d4fc;
}
*/

/* Code blocks */
/*
pre[class*="language-"]
                       {padding:1em;
    margin:.5em 0;
    overflow:auto;
    border:1px solid #dddddd;
    background-color:white;
}
*/

/*
:not(pre) > code[data-id="code"],
pre[class*="language-"]
{
}
*/

/* Inline code */
/*
:not(pre) > code[data-id="code"]
                       {padding:.2em;
    padding-top:1px;padding-bottom:1px;
    background:#f8f8f8;
    border:1px solid #dddddd;
}
*/

code[data-id="code"]
{
  --c_h1:calc( var(--c_hue_p) + 45 );
  --c_h2:calc( var(--c_hue_p) + 90 );
  --c_h3:calc( var(--c_hue_p) + 135 );
  --c_h4:calc( var(--c_hue_p) + 180 );
  --c_h5:calc( var(--c_hue_p) + 225 );
  --c_h6:calc( var(--c_hue_p) + 270 );
  --c_h7:calc( var(--c_hue_p) + 315 );

  --c_1:hsla( var(--c_h1) var(--c_sat_hi_4) var(--c_lum_lo_2) / 1 );
  --c_2:hsla( var(--c_h2) var(--c_sat_hi_4) var(--c_lum_lo_2) / 1 );
  --c_3:hsla( var(--c_h3) var(--c_sat_hi_4) var(--c_lum_lo_2) / 1 );
  --c_4:hsla( var(--c_h4) var(--c_sat_hi_4) var(--c_lum_lo_2) / 1 );
  --c_5:hsla( var(--c_h5) var(--c_sat_hi_4) var(--c_lum_lo_2) / 1 );
  --c_6:hsla( var(--c_h6) var(--c_sat_hi_4) var(--c_lum_lo_2) / 1 );
  --c_7:hsla( var(--c_h7) var(--c_sat_hi_4) var(--c_lum_lo_2) / 1 );
}

.token.namespace,
__                     {opacity:.7}


.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.italic,
__                     {font-style:italic}



.token.important,
/*.token.function,*/
.token.bold,
__                     {font-weight:bold}


.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
/*__                     {color:#999988}*/
__                     {color:var(--c_1)}



.token.string,
.token.attr-value,
/*__                     {color:#e3116c}*/
__                     {color:var(--c_2)}



.token.punctuation,
.token.operator,
/*__                     {color:#393A34}*/
__                     {color:var(--c_3)}



.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted,
/*__                     {color:#36acaa}*/
__                     {color:var(--c_4)}



.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector,
/*__                     {color:#00a4db}*/
__                     {color:var(--c_5)}



.token.function,
.token.deleted,
.language-autohotkey .token.tag,
/*__                     {color:#9a050f}*/
__                     {color:var(--c_6)}



.token.tag,
.token.selector,
.language-autohotkey .token.keyword,
/*__                     {color:#00009f}*/
__                     {color:var(--c_7)}






pre[class*="language-"],
code[data-id="code"],
code[data-id="code"] *
{
  --size_ratio:1; /* have to standardize before font-size:75% */

  font-family:var(--font_mono);/*"Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;*/
  font-size:100%;
  /*color:#393A34;*/
  direction:ltr;
  text-align:left;
  white-space:pre;
  word-spacing:normal;
  word-break:normal;
  line-height:1.2em;

  -moz-tab-size:4;
  -o-tab-size:4;
  tab-size:4;
  -webkit-hyphens:none;
  -moz-hyphens:none;
  -ms-hyphens:none;
  hyphens:none;
  /*=== ============ ==*/


  text-shadow:none;
}

