/*=== COLOR ===*/
:root
{
  --HTML_OPAC: 0;
  --INVERT_FILTER:
      invert(100%)
      hue-rotate({{C_o.HUE_ROTATE_n}}deg)
      brightness(8);
  --SATURATE_FILTER:
      saturate(3)
      brightness(2);
}




/*=== OPACITY ===*/
.unseen,
.invisible,
.retract,
__                     {opacity: 0}



/*=== FRONT ===*/

body,
__                     {color: var(--c_prim_lo)}



#logo,
__                     {color: var(--c_decor_hi)}

#logo .svg_icon,
__                     {stroke: var(--c_decor_hi)}

#hero dd,
__                     {color: var(--c_decor_hi)}


.svg_icon,
__                     {stroke: var(--c_highlight)}



[data-sub]::before,
__                     {color: red}




/*=== BACKGROUND ===*/
#hero,
#hero *,
#sections,
#sections > *,
__                     {background: transparent}

.svg_icon,
__                     {fill: none}


body,
#sections_slider,
__                     {background: var(--c_prim_hi)}




*::-webkit-scrollbar-track,
__                     {background: var(--c_decor_ne)}

*::-webkit-scrollbar-thumb,
__                     {background: var(--c_decor_hi)}

[data-sub]:hover::after,
__                     {background: var(--c_link_ne)}


/*=== GRADIENT ===*/
#initial,
__                     {background: linear-gradient( 35deg,
                         hsla( var(--hue_base) 100% 15% / .8 ) 0%,
                         hsla( var(--hue_base) 0% 5% / 1 ) 100%)}
