/*=== DECORATION ===*/

/*=== TEXT ===*/
a,
__                     {text-decoration: none}
                                      
button, select,
__                     {text-transform: none}

#hero,
__                     {text-transform: uppercase}



/*=== WHITE-SPACE ===*/
p > code,
pre > code,
__                     {white-space: pre}

.unseen,
__                     {white-space: nowrap}



/*=== LIST-STYLE ===*/
dl,
ol,
ul,
__                     {list-style: none}



/*=== CURSOR ===*/
body,
__                     {cursor: default}

.invisible,
__                     {cursor: auto}

button,
.svg_icon,
[data-sub]:hover,
__                     {cursor: pointer}



/*=== SHADOW ===*/
/*
hr,
__                     {box-shadow:var(--BOX_SHADOW)}
*/



/* === SCROLLBAR === */
*,
__                     {scrollbar-width:thin;
                        scrollbar-color: var(--c_decor_hi) var(--c_decor_ne)}

*::-webkit-scrollbar,
__                     {width: .75em}

*::-webkit-scrollbar-track,
__                     {background: var(--c_decor_ne)}

*::-webkit-scrollbar-thumb
,
__                     {background-color: var(--c_decor_hi);
                        border:           .2em solid var(--c_decor_ne);
                        border-radius:    .5em}

