/*=== DIMENSIONS ===*/
:root
{
  --BODY_WIDTH: calc( {{C_o.BODY_WIDTH_n}} * 1vw );
  --LINE_WIDTH: clamp( 30ch, {{C_o.LINE_WIDTH_n}} * 1ch, var(--BODY_WIDTH) - 4vw );
  --FULL_WIDTH:  100vw;
  --HALF_WIDTH:  50vw;
  --FULL_HEIGHT:  100vh;
  --HALF_HEIGHT:  50vh;
  --LOGO_HEIGHT:   6rem;
  --SLIDER_HEIGHT: 4em;
  --IMG_REVEAL:    6em;
}
#introduce,
__                     {--svg_icon_dim: 3em}



/*=== WIDTH ===*/
.retract,
__                     {width: 0}

.unseen,
__                     {width: 1px}


#initial,
#hero,
#sections_slider,
__                     {width: var(--FULL_WIDTH)}




#hero button,
#sections,
__                     {width: 100%}


.svg_icon,
__                     {width: var(--svg_icon_dim)}

*,
__                     {scrollbar-width:thin}



/*=== HEIGHT ===*/
.retract,
__                     {height: 0}


#initial,
#hero,
__                     {height: var(--FULL_HEIGHT)}

#hero dt,
#hero button,
__                     {height: var(--LOGO_HEIGHT)}



#sections_slider,
__                     {height: var(--SLIDER_HEIGHT)}

/*.....................
[data-sub]::before,
__                     {height: 10vh}
*/

.svg_icon,
__                     {height: var(--svg_icon_dim)}



/*=== FLEX-BASIS ===*/


/*=== CLIP ===*/
.unseen,
__                     {clip-path: inset(0px 0px)}


/*=== OVERFLOW ===*/
.unseen,
__                     {overflow: hidden}

body,
__                     {overflow-x: hidden}

