/*=== DIMENSIONS ===*/
:root
{
  --BODY_WIDTH: calc( {{C_o.BODY_WIDTH_n}} * 1vw );
  --LINE_WIDTH: clamp( 30ch, {{C_o.LINE_WIDTH_n}} * 1ch, var(--BODY_WIDTH) - 4vw );
  --NAVBAR_DIM:    4em;
  --FULL_WIDTH:  100vw;
  --HALF_WIDTH:  50vw;
  --FULL_HEIGHT:  100vh;
  --HALF_HEIGHT:  50vh;
  --SLIDER_HEIGHT: 4em;
  --IMG_REVEAL:    6em;
}

#nav_bar               {--svg_icon_dim: 1.8em}


/*=== WIDTH ===*/
.retract,
__                     {width: 0}

.unseen,
__                     {width: 1px}

article,
__                     {width: var(--BODY_WIDTH)}

p,
ol, ul,
__                     {width: var(--LINE_WIDTH)}

hr,
__                     {width: calc( var(--BODY_WIDTH) * .25 )}

.svg_icon,
__                     {width: var(--svg_icon_dim)}

#slogan,
__                     {width: var(--HALF_WIDTH)}

#sections,
#nav_bar,
#sections_slider,
#graph_slider
__                     {width: 100%}


#initial,
#initial > button,
#sections_slider,
#graph_slider
__                     {width: var(--FULL_WIDTH)}


/*
#slogan,
__                     {width: var(--HALFL_WIDTH)}
*/

#slogan,
__                     {width: 66vw}



svg.initial,
__                     {--svg_icon_dim: clamp( 50vmin, 60vh, 90vw )}
svg.unfold,
__                     {--svg_icon_dim: 3em}

*,
__                     {scrollbar-width:thin}



/*=== HEIGHT ===*/
.retract,
__                     {height: 0}

.unseen,
__                     {height: 1px}


#slogan,
#initial > button,
__                     {height: var(--FULL_HEIGHT)}

.svg_icon,
__                     {height: var(--svg_icon_dim)}

#nav_bar,
__                     {height: var(--NAVBAR_DIM)}

#sections_slider,
__                     {height: var(--SLIDER_HEIGHT)}



/*=== FLEX-BASIS ===*/
#scroll_top,
#scroll_bottom,
__                     {flex-basis: 10%}
#sections_nav,
__                     {flex-basis: 80%}    /* calc( ( 100 - (10*2) ) * 1% ) */

#slogan *:first-child,
__                     {flex-basis: 30%}


/*=== CLIP ===*/
.unseen,
__                     {clip-path: inset(0px 0px)}


/*=== OVERFLOW ===*/
#sections_slider,
#graph_slider,
.unseen,
__                     {overflow: hidden}

body,
__                     {overflow-x: hidden}

