/*=== FONT ===*/
:root
{
  --base_u: 8;
  --base_min: 1.7;
  --screen_min: 400;
  --screen_max: 1600;

  --font_base: calc( var(--base_u) * var(--base_min) );
  --font_min: var(--font_base);
  --font_max: calc( var(--font_base) * 2 );
  --font_size: calc( (var(--font_min) * 1px)
                     + ( var(--font_max) - var(--font_min) )
                     * ( 100vw - (var(--screen_min) * 1px) )
                     / ( var(--screen_max) - var(--screen_min) )
                   );
  --font_u: calc( var(--font_size) * 1 );  /* font unit - can be adjusted */

  --font_body: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', Helvetica Neue, 'Fira Sans', sans-serif;
  --font_mono: system-ui, -apple-system, BlinkMacSystemFont, 'Courier New', Courier, 'Ubuntu Mono', 'Liberation Mono', monospace;
  --font_title: var(--font_body);
}



/*=== FAMILY ===*/
body,
body *,
__                     {font-family: var(--font_body)}

#hero,
__                     {font-family:var(--font_title)}


/*=== SIZE ===*/
body,
body *,
body *:before,
body *:after,
__                     {font-size: calc( var(--font_u)  * var(--size_ratio) )}


#hero *:first-child,
__                     {--size_ratio: 2.6}

#hero *,
__                     {--size_ratio: 1.6}

#hero span,
[data-sub]::before,
__                     {--size_ratio: 1.2}

body,
body *,
__                     {--size_ratio: 1}


#sections_nav,
__                     {--size_ratio: .7}
                 


/*=== WEIGHT ===*/

#sections_nav *,
#hero span,
__                     {font-weight: 600}


body,
body *,
__                     {font-weight: 300}



#hero *,
__                     {font-weight: 100}



/*=== STYLE ===*/
#sections_nav,
__                     {font-style:italic}



/*=== HEIGHT ===*/

#hero *:not( span ),
__                     {line-height: .8}

#sections_nav,
__                     {line-height: .5}

/*=== SPACING ===*/

#sections_nav,
__                     {letter-spacing: 1em}

#hero span,
__                     {letter-spacing: .2em}
