/*=== FONT ===*/
:root
{
  --base_u: 8;
  --base_min: 1.7;
  --screen_min: 400;
  --screen_max: 1600;

  --font_base: calc( var(--base_u) * var(--base_min) );
  --font_min: var(--font_base);
  --font_max: calc( var(--font_base) * 2 );
  --font_size: calc( (var(--font_min) * 1px)
                     + ( var(--font_max) - var(--font_min) )
                     * ( 100vw - (var(--screen_min) * 1px) )
                     / ( var(--screen_max) - var(--screen_min) )
                   );
  --font_u: calc( var(--font_size) * 1 );  /* font unit - can be adjusted */

  --font_body: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', Helvetica Neue, 'Fira Sans', sans-serif;
  --font_mono: system-ui, -apple-system, BlinkMacSystemFont, 'Courier New', Courier, 'Ubuntu Mono', 'Liberation Mono', monospace;
  --font_title: var(--font_body);
}



/*=== FAMILY ===*/
body,
body *,
[data-sub]::after,
__                     {font-family: var(--font_body)}

#hero,
__                     {font-family:var(--font_title)}


/*=== SIZE ===*/
body,
body *,
body *:before,
body *:after,
__                     {font-size: calc( var(--font_u)  * var(--size_ratio) )}

body,
body *,
__                     {--size_ratio: 1}




#hero dd:nth-of-type(3),
__                     {--size_ratio: 2.3}
#hero dd,
__                     {--size_ratio: 1.8}
#hero dd:nth-of-type(1),
__                     {--size_ratio: 1.3}

[data-sub]::after,
__                     {--size_ratio: 1}


#logo,
#logo > em,
__                     {--size_ratio: 2}



                 


/*=== WEIGHT ===*/

body,
body *,
[data-sub]::after,
__                     {font-weight: 300}


#hero span,
__                     {font-weight: 600}


#hero dd,
__                     {font-weight: 100}



/*=== STYLE ===*/



/*=== HEIGHT ===*/


[data-sub]::after,
__                     {line-height: 1}

#hero button,
#hero dd,
__                     {line-height: .8}

__                     {line-height: .8}


/*=== SPACING ===*/

#logo,
__                     {letter-spacing: 2vw}


#hero span,
__                     {letter-spacing: 1vw}

