/*=== MARGIN ===*/
:root
{
  --PAD_1:  .25em;
  --PAD_2:  calc( var(--PAD_1) * 2 );
  --PAD_4:  calc( var(--PAD_1) * 4 );
  --PAD_6:  calc( var(--PAD_1) * 6 );
  --PAD_8:  calc( var(--PAD_1) * 8 );
  --PAD_12:  calc( var(--PAD_1) * 12 );
  --PAD_16: calc( var(--PAD_1) * 16 );

  --BODY_MARGIN: calc( ( 100 - {{C_o.BODY_WIDTH_n}} ) * .5vw );
}


body,
dl,
dt,
dd,
#nav_bar > button,
__                     {margin: 0}

#hero dd,
__                     {margin: var(--PAD_1) }



#introduce,
__                     {margin: 0  -.3em 0 -.9em}  /* negative margins */


button[data-slot_s="docs"],
__                     {margin-top: var(--SLIDER_HEIGHT) }


/*=== PADDING ===*/
#hero,
body,
dl,
dt,
dd,
__                     {padding: 0}

[data-sub]:hover::after,
__                     {padding: var(--PAD_4)}
