/* === ROOT_COLORS === */

:root
{
/* === HUE === */

--hue_base:{{C_o.HUE_P_n}};   /* user definable */

--c_hue_p:var(--hue_base);                              /* primary */
--c_hue_i:calc( var(--hue_base) + 140);                /* inverse of primary color */
--c_hue_s:calc( var(--hue_base) + {{C_o.HUE_S_n}});    /* secondary */
--c_hue_p:calc( var(--hue_base) + {{C_o.HUE_H_n}});    /* highlight */
--c_hue_d:calc( var(--hue_base) + {{C_o.HUE_D_n}});    /* decor */
--c_hue_l:calc( var(--hue_base) + {{C_o.HUE_L_n}});    /* link */



/* === SAT === */

--c_sat_hi_4:{{C_o.SAT_BASE_n + ( C_o.SAT_UNIT_n * 4 )}}%;  /* 94%;*/
--c_sat_hi_2:{{C_o.SAT_BASE_n + ( C_o.SAT_UNIT_n * 2 )}}%;  /* 72%;*/
--c_sat_ne :{{C_o.SAT_BASE_n}}%;                            /* 50% */
--c_sat_lo_2:{{C_o.SAT_BASE_n - ( C_o.SAT_UNIT_n * 2 )}}%;  /* 28%;*/
--c_sat_lo_4:{{C_o.SAT_BASE_n - ( C_o.SAT_UNIT_n * 4 )}}%;  /* 6%;*/

--sat_ne:var(--c_sat_lo_2);


/* === LUM === */

--lum_mode:{{C_o.LUM_MODE_n}};   /* user definable */
--lum_contrast:{{C_o.LUM_CONTRAST_n}};

--c_lum_hi_4:calc(({{C_o.LUM_BASE_n}} + ( var(--lum_mode) * {{C_o.LUM_CONTRAST_n}} * 1.0 ) ) * 1%); /* 40/40:90% */
--c_lum_hi_3:calc(({{C_o.LUM_BASE_n}} + ( var(--lum_mode) * {{C_o.LUM_CONTRAST_n}} * .75 ) ) * 1%); /* 30/40:80% */
--c_lum_hi_2:calc(({{C_o.LUM_BASE_n}} + ( var(--lum_mode) * {{C_o.LUM_CONTRAST_n}} * .50 ) ) * 1%); /* 20/40:70% */
--c_lum_hi_1:calc(({{C_o.LUM_BASE_n}} + ( var(--lum_mode) * {{C_o.LUM_CONTRAST_n}} * .25 ) ) * 1%); /* 10/40:60% */
--c_lum_ne :calc(({{C_o.LUM_BASE_n}} +  0 ) * 1%);                                                    /* 50% */
--c_lum_lo_1:calc(({{C_o.LUM_BASE_n}} - ( var(--lum_mode) * {{C_o.LUM_CONTRAST_n}} * .25 ) ) * 1%); /* 10/40:40% */
--c_lum_lo_2:calc(({{C_o.LUM_BASE_n}} - ( var(--lum_mode) * {{C_o.LUM_CONTRAST_n}} * .50 ) ) * 1%); /* 20/40:30% */
--c_lum_lo_3:calc(({{C_o.LUM_BASE_n}} - ( var(--lum_mode) * {{C_o.LUM_CONTRAST_n}} * .75 ) ) * 1%); /* 30/40:20% */
--c_lum_lo_4:calc(({{C_o.LUM_BASE_n}} - ( var(--lum_mode) * {{C_o.LUM_CONTRAST_n}} * 1.0 ) ) * 1%); /* 40/40:10% */



/* === HSLA === */


/* === PRIMARY === */

--c_prim_hi:hsla( var(--c_hue_p) var(--c_sat_lo_4) var(--c_lum_hi_4)/.9);
--c_prim_ne:hsla( var(--c_hue_p) var(--c_sat_lo_4) var(--c_lum_ne)/1);
--c_prim_lo:hsla( var(--c_hue_p) var(--c_sat_lo_4) var(--c_lum_lo_4)/1);

--c_prim_hi_2:hsla( var(--c_hue_p) var(--sat_ne) var(--c_lum_hi_2)/1);
--c_prim_hi_3:hsla( var(--c_hue_p) var(--sat_ne) var(--c_lum_hi_3)/1);
--c_prim_trans:hsla( var(--c_hue_p) var(--sat_ne) var(--c_lum_hi_2)/.2);



/* === SECONDARY === */

--c_sec_hi:hsla( var(--c_hue_s) var(--c_sat_hi_4) var(--c_lum_hi_4)/1);
--c_sec_ne:hsla( var(--c_hue_s) var(--c_sat_hi_4) var(--c_lum_ne)/1);
--c_sec_lo:hsla( var(--c_hue_s) var(--c_sat_hi_4) var(--c_lum_lo_4)/1);



/* === DECOR === */

--c_decor_hi:hsla( var(--c_hue_d) var(--c_sat_hi_4) var(--c_lum_hi_3)/1);
--c_decor_ne:hsla( var(--c_hue_d) var(--c_sat_hi_4) var(--c_lum_ne)/1);
--c_decor_lo:hsla( var(--c_hue_d) var(--c_sat_hi_4) var(--c_lum_lo_3)/1);
--c_decor_hi_op_lo:hsla( var(--c_hue_d) var(--c_sat_hi_4) var(--c_lum_lo_3)/.1);



--c_back_op:hsla( var(--c_hue_p) var(--sat_ne) var(--c_lum_lo_2)/1);


--c_box_hi:hsla( var(--c_hue_s) var(--sat_ne) var(--c_lum_hi_3)/1);
--c_box_ne:hsla( var(--c_hue_s) var(--sat_ne) var(--c_lum_ne)/1);
--c_box_lo:hsla( var(--c_hue_s) var(--sat_ne) var(--c_lum_lo_3)/1);


--c_shadow_ne:hsla( var(--c_hue_s) var(--sat_ne) var(--c_lum_lo_4)/.2);
--c_shadow_lo:hsla( var(--c_hue_s) var(--sat_ne) var(--c_lum_lo_4)/.8);


--c_link_hi:hsla( var(--c_hue_l) var(--c_sat_hi_4) var(--c_lum_lo_2)/1);
--c_link_ne:hsla( var(--c_hue_l) var(--c_sat_hi_4) var(--c_lum_lo_2)/.5);


--c_highlight_hi:hsla( var(--c_hue_p) var(--c_sat_hi_4) var(--c_lum_hi_2)/1);
--c_highlight:hsla( var(--c_hue_p) var(--c_sat_hi_4) var(--c_lum_lo_2)/1);
--c_highlight_in:hsla( var(--c_hue_i) var(--c_sat_hi_2) var(--c_lum_hi_2)/1);


/* === ILITE === */

--c_hi_off: 180;


/* === FRONT === scheme: --c_ilite_OFFSET (1 underscore) */
--c_ilite_0:   hsla( var(--c_hue_p)               var(--c_sat_hi_4) var(--c_lum_lo_2) /1 );
--c_ilite_40:  hsla( calc( var(--c_hue_p) + 80 )  var(--c_sat_hi_4) var(--c_lum_lo_2) /1 );
--c_ilite_60:  hsla( calc( var(--c_hue_p) + 100 ) var(--c_sat_hi_4) var(--c_lum_lo_2) /1 );
--c_ilite_80:  hsla( calc( var(--c_hue_p) + 120 ) var(--c_sat_hi_4) var(--c_lum_lo_2) /1 );
--c_ilite_100: hsla( calc( var(--c_hue_p) + 140 ) var(--c_sat_hi_4) var(--c_lum_lo_2) /1 );
--c_ilite_120: hsla( calc( var(--c_hue_p) + 160 ) var(--c_sat_hi_4) var(--c_lum_lo_2) /1 );
--c_ilite_160: hsla( calc( var(--c_hue_p) + 180 ) var(--c_sat_hi_4) var(--c_lum_lo_2) /1 );
--c_ilite_200: hsla( calc( var(--c_hue_p) + 200 ) var(--c_sat_hi_4) var(--c_lum_lo_2) /1 );
--c_ilite_240: hsla( calc( var(--c_hue_p) + 240 ) var(--c_sat_hi_4) var(--c_lum_lo_2) /1 );
--c_ilite_280: hsla( calc( var(--c_hue_p) + 260 ) var(--c_sat_hi_4) var(--c_lum_lo_2) /1 );
--c_ilite_320: hsla( calc( var(--c_hue_p) + 280 ) var(--c_sat_hi_4) var(--c_lum_lo_2) /1 );
--c_ilite_340: hsla( calc( var(--c_hue_p) + 300 ) var(--c_sat_hi_4) var(--c_lum_lo_2) /1 );



/* === BACKGROUND === scheme: --c_ilite__OFFSET (2 underscores) */
--c_ilite__0:   hsla( var(--c_hue_p)               var(--c_sat_hi_4) var(--c_lum_lo_2) /.6 );
--c_ilite__100: hsla( calc( var(--c_hue_p) + 100 ) var(--c_sat_hi_4) var(--c_lum_lo_2) /.6 );
--c_ilite__180: hsla( calc( var(--c_hue_p) + 180 ) var(--c_sat_hi_4) var(--c_lum_lo_2) /.6 );
--c_ilite__300: hsla( calc( var(--c_hue_p) + 300 ) var(--c_sat_hi_4) var(--c_lum_lo_2) /.6 );


--c_ilite_hi:   hsla( var(--c_hue_p) var(--c_sat_ne) var(--c_lum_hi_4) /.4 );
--c_ilite_lo:   hsla( var(--c_hue_p) var(--c_sat_ne) var(--c_lum_lo_4) /.4 );

/* FIXED */
--c_ilite_0_hi:  hsla( 0 var(--c_sat_hi_4) var(--c_lum_hi_2) /1 );

}
