/*=== TRANSFORM ===*/

.retract,
__                     {transform: scale(0)}

a::after,
__                     {transform: scaleX(0)}

a:hover::after,
__                     {transform: scaleX(1)}



#scroll_bottom > svg,
__                     {transform:rotate(.5turn)}


[data-sub]::after,
__                     {transform: translateX( var(--FULL_WIDTH) )}



.aside,
__                     {transform: translateY( calc( (var(--SLIDER_HEIGHT) - 1.5rem ) * -1 ) )}



[data-sub],
__                     {transform: rotate( var(--INITIAL_TURN) )}


.svg_icon:hover,
__                     {filter: brightness( 2 )}



/*=== ORIGIN ===*/
#hero dd,
__                     {transform-origin: top right}

.retract,
__                     {transform-origin: top left}


[data-sub]:hover::after,
__                     {animation: datasub .3s ease forwards}

#sections_slider,
__                     {transition: transform .2s ease}



/*=== ============================================== ===*/

#initial_slogan li span:nth-of-type(3),
__                     {filter: saturate( 3 ) hue-rotate(-5deg)}



#initial,
__                     {background: linear-gradient( var(--INITIAL_TURN),
  hsla( var(--hue_base) 100% 6% / 1 ) 0%,
  hsla( var(--hue_base) 100% 6% / 1 ) 60%,
  hsla( var(--hue_base) 100% 3% / 1 )  60%,
  hsla( var(--hue_base) 100% 3% / 1 )  100%)}
/*
#initial,
__                     {background: linear-gradient( var(--INITIAL_TURN),
                         hsla( var(--hue_base) 100% 15% / .6 ) 0%,
                         hsla( var(--hue_base) 100% 15% / .6 ) 54%,
                         hsla( var(--hue_base) 100% 15% / .7 ) 54%,
                         hsla( var(--hue_base) 100% 15% / .7 ) 75%,
                         hsla( var(--hue_base) 100% 15% / .8 ) 75%,
                         hsla( var(--hue_base) 100% 15% / .8 ) 89%,
                         hsla( var(--hue_base) 100% 15% / .9 ) 89%,
                         hsla( var(--hue_base) 100% 15% / .9 ) 100%)}
                         */
#initial_slogan li:nth-of-type(1),
__                     {background: hsla( var(--hue_base) 100% 5% / 1 )}
#initial_slogan li:nth-of-type(2),
__                     {background: hsla( var(--hue_base) 100% 7% / 1 )}
#initial_slogan li:nth-of-type(3),
__                     {background: hsla( var(--hue_base) 100% 10% / 1 )}
#initial_logo,
__                     {background: transparent}




/*
#initial_logo > button,
__                     {position: absolute}
*/





#initial_slogan,
__                     {margin: 0}
#initial_slogan,
#initial_logo > button,
__                     {padding: 0}


#initial_slogan,
#initial_logo,
#initial_logo > button,
__                     {width: var(--FULL_WIDTH)}
#initial_logo,
#initial_logo > button,
__                     {width: 100%}

#initial_slogan,
__                     {height: var(--FULL_HEIGHT)}

#initial_logo > button,
__                     {height: var(--LOGO_HEIGHT)}

#initial_slogan,
__                     {color: var(--c_decor_hi)}

#initial_logo > button,
__                     {background: transparent}


/*
#initial_logo > button,
__                     {bottom: 4vh}


#svg_logo,
__                     {bottom: 0}

#logo,
__                     {bottom: 17vh}
*/
/*
#initial_logo > button,
__                     {top: 0}


#svg_logo,
__                     {top: 0}
*/

#logo,
__                     {top: calc( var(--size_ratio) * -3em ) }


#initial_slogan,
__                     {--layer_1: 12;
                        --layer_2: 18;
                        --layer_3: 26;
                        --layer_4: 44 }


#initial_slogan,
#initial_slogan li,
__                     {display: flex;
                        flex-direction: column}

#initial_slogan li:nth-of-type(1),
__                     {height: calc( var(--layer_1) * 1vh )}
#initial_slogan li:nth-of-type(2),
__                     {height: calc( var(--layer_2) * 1vh )}
#initial_slogan li:nth-of-type(3),
__                     {height: calc( var(--layer_3) * 1vh )}
#initial_logo,
__                     {height: calc( var(--layer_4) * 1vh )}


#initial_slogan span,
#initial_logo > button,
__                     {position:relative}


#initial_slogan li:nth-of-type(1) span,
__                     {top: calc(  (var(--layer_1) * 1vh) - 5em )}
#initial_slogan li:nth-of-type(2) span,
__                     {top: calc(  (var(--layer_2) * 1vh) - 5em )}
#initial_slogan li:nth-of-type(3) span,
__                     {top: calc(  (var(--layer_3) * 1vh) - 5em )}



#initial_slogan li:not( #initial_logo ),
__                     {padding-left: 4vw}

#initial_slogan li:not( #initial_logo ),
__                     {text-align: left}


#initial_slogan li,
__                     {transform: rotateY( var(--INITIAL_TURN) )}
#initial_slogan,
__                     {perspective: 50vw}


#initial_slogan > li > span:nth-of-type(3) ,
__                     {transform: translateX( var(--FULL_WIDTH) )}

#initial_slogan > li:hover > span:nth-of-type(3),
__                     {animation: datasub .3s ease forwards}


#logo > em,
__                     {font-style: normal}

:root
{
  --INITIAL_TURN: -.05turn;
}
