{% set _js %}
{% include "./parts/Graph_c.js" %}
{% include "./parts/Node_c.js" %}
{% include "./parts/Link_c.js" %}
{% include "./parts/Facet_c.js" %}
{% endset %}
{% include "assets/scripts/js/minify.njk" %}
