{% set _js %}
{% include "./parts/preferences.js" %}
{% include "./parts/lib.js" %}
{% include "./parts/service.js" %}
{% include "./parts/index.js" %}
{% endset %}

{% include "assets/scripts/js/minify.njk" %}



{# TEMPORARY: move somewhere else #}
{#% include "./parts/skin.js" %#}
{#% include "./parts/idb.js" %#}
{#% include "./parts/idler.js" %#}
