{% set _js %}
{% include "./parts/slot.js" %}
{% include "./parts/Slider_c.js" %}
{% include "./parts/slider.js" %}
{% include "./parts/pan.js" %}
{% include "./parts/sets.js" %}
{% include "./parts/Graph_c.js" %}
{% include "./parts/Node_c.js" %}
{% include "./parts/Link_c.js" %}
{% include "./parts/Facet_c.js" %}
{% include "./parts/graph.js" %}
{% endset %}

{% include "assets/scripts/js/minify.njk" %}
