---js
{
  layout: 'parts/slot/slot.njk',
  permalink: 'slots/formal_verification.html',
  rank_n: 132,
  tags: [ 'notag' ],
  title_s: 'formal verification',
  labels_a: ['digital electronics','instantiating','binary search algorithm','bit'],
}
---
## formal verification

The act of ~°proving°~ or disproving the ~°correctness°~ of intended ~°algorithms°~ underlying a system with respect to a certain ~°formal specification°~ or property, using ~°formal methods°~ of mathematics.
