<!--<link rel="preload" href="{{U_o.url_s}}assets/data/json/graph.json" as="fetch" crossOrigin="anonymous">-->
<script defer src="{{ U_o.url_s }}assets/scripts/js/index.min.js"></script>
<!--
<script defer src="{{ U_o.url_s }}assets/scripts/js/web_vitals.min.js"></script>
<script defer src="{{ U_o.url_s }}assets/scripts/js/web_vitals_report.min.js"></script>
-->