<dl id="bookmark_page">
  <dt>current page content
    <button id="bookmark_refresh">REFRESH</button>
  </dt>
  <dd id="bookmark_content">
    <ul id="bookmark_content_list"></ul>
  </dd>
  <dt>current page title
    <button id="bookmark_save">SAVE</button>
  </dt>
  <dd id="bookmark_form">
    <input id="bookmark_name" type="text" placeholder="allowed chars: a-z, A-Z, - _"></input>
  </dd>
  <dt>bookmark history
  </dt>
  <dd id="bookmark_history">
    <ul id="bookmark_history_list"></ul>
  </dd>
</dl>
