<head>
{% include "parts/head/script.njk" %}
{% include "parts/head/title.njk" %}
{% include "parts/head/seo.njk" %}
{% include "parts/head/description.njk" %}
{% include "parts/head/manifest.njk" %}
{% include "parts/head/base_url.njk" %}
{% include "parts/head/inline_style.njk" %}
{#% if U_o.dev_b === false %}{% include "parts/head/instant_page.njk" %}{% endif %#}
</head>
