
<li data-slot_n="0" data-doc_n="0" data-slot_s="introduction" data--="web_site_architecture fondamentals"></li>
<li data-slot_n="1" data-doc_n="1" data-slot_s="content_graph" data--="web_site_architecture fondamentals navigation page_composition"></li>
<li data-slot_n="2" data-doc_n="2" data-slot_s="nodes_assembly" data--="web_site_architecture fondamentals content_composition"></li>
<li data-slot_n="3" data-doc_n="3" data-slot_s="slider" data--="user_interface user_experience"></li>
<li data-slot_n="4" data-doc_n="4" data-slot_s="page_slider" data--="user_interface user_experience"></li>
<li data-slot_n="5" data-doc_n="5" data-slot_s="topics_slider" data--="user_interface user_experience"></li>
<li data-slot_n="6" data-doc_n="6" data-slot_s="contents_graph" data--="user_interface user_experience"></li>
<li data-slot_n="7" data-doc_n="7" data-slot_s="content_component_structure" data--="web_site_architecture fondamentals content_composition"></li>