
<li data-slot_n="0" data-slot_s="web_site_architecture" data--="0 1 2 7"></li>
<li data-slot_n="1" data-slot_s="fondamentals" data--="0 1 2 7"></li>
<li data-slot_n="2" data-slot_s="navigation" data--="1"></li>
<li data-slot_n="3" data-slot_s="page_composition" data--="1"></li>
<li data-slot_n="4" data-slot_s="content_composition" data--="2 7"></li>
<li data-slot_n="5" data-slot_s="user_interface" data--="3 4 5 6"></li>
<li data-slot_n="6" data-slot_s="user_experience" data--="3 4 5 6"></li>