/*=== CODE ===*/

div[data-id="code_ref"],
__                     {display:grid;place-items:center}

code,
__                     {display:block}
code li::marker,
__                     {display:inline-block;
                        -webkit-select: none}

code > ol,
dl[data-id="code_ref"],
__                     {display:flex}

code > ol,
__                     {flex-direction: column}

code,
dl[data-id="code_ref"],
__                     {position:relative}

code,
dl[data-id="code_ref"],
__                     {left:50%;right:50%}/* !!!! full width */

code,
__                     {margin:0}

code,
__                     {padding-left:1rem}

code,
dl[data-id="code_ref"],
__                     {margin-left:-{{C_o.HALF_WIDTH}};margin-right:-{{C_o.HALF_WIDTH}}}    /* !!!! full width but keep margins for scaling */

code,
__                     {margin-top:{{C_o.PAD_8}}}

div[data-id="code_ref"],
__                     {margin-bottom: {{C_o.PAD_8}}}

code,
__                     {padding:{{C_o.PAD_2}} {{C_o.PAD_2}} {{C_o.PAD_2}} {{C_o.PAD_4}}}

dl[data-id="code_ref"],
__                     {padding:0 {{C_o.PAD_2}}}

code,
code ol,
dl[data-id="code_ref"],
__                     {width:100vw}  /* !!!! full width */


dl[data-id="code_ref"] > dt,
__                     {flex-basis:95%}

code,
__                     {white-space: pre;
                        overflow: auto}

code li,
__                     {border-bottom: var(--line_border_n) solid transparent}
.i_spot,
__                     {border-bottom: var(--line_border_n) solid hsla(calc( var(--c_hue_p) + var(--c_hi_off) ) var(--c_sat_hi_2) var(--c_lum_hi_4)/1)}
.i_node,
__                     {border-bottom: 2px solid var(--c_ilite_marker)}

.i_uv_hi,
__                     {outline: 2px solid var(--c_ilite_marker)}

code,
__                     {color: hsla(var(--c_hue_p) var(--c_sat_hi_2) var(--c_lum_lo_4)/1)}
code li::marker,
__                     {color: var(--c_ilite_hi);
                        opacity: .8}

code,
__                     {background: hsla(var(--c_hue_p) var(--c_sat_lo_2) var(--c_lum_ne)/1)}
code li:hover,
__                     {background: hsla(var(--c_hue_p) var(--c_sat_lo_2) var(--c_lum_ne)/.9)}

code,
code *,
__                     {font-family:var(--font_mono)}

code li::marker,
__                     {font-size:80%}        /* for 4 digits number */

[class^="i_"],
__                     {font-style:normal}

p > code,
pre > code,
__                     {white-space:pre}

.i_spot:hover,
__                     {cursor:pointer}

code li:hover,
__                     {filter: contrast(2)}
.i_uv_hi,
__                     {filter: saturate(8)}

code,
__                     {transform-origin:top left}

.i_uv_hi,
__                     {animation: blink 3s infinite}

@keyframes blink       {0%   { opacity:0}
                        20%  { opacity:1} 
                        100% { opacity:1}}
