<button id="bookmark_link">
  <u aria-label="bookmark preferences" title="bookmark preferences">
    <svg class="svg_icon">
      <use href="#icon_bookmark" class="use_icon"></use>
    </svg>
  </u>
</button>
