<dl id="bookmark_page">
  <dt>current page content</dt>
  <dd id="bookmark_content">
    <ul id="bookmark_content_list"></ul>
    <button id="bookmark_refresh">REFRESH</button>
  </dd>
  <dt>current page title</dt>
  <dd id="bookmark_form">
    <input id="bookmark_name" type="text" placeholder="allowed chars: a-z, A-Z, - _"></input>
    <button id="bookmark_save">SAVE</button>
  </dd>
  <dt>bookmark history</dt>
  <dd id="bookmark_history">
    <ul id="bookmark_history_list">
    </ul>
  </dd>
</dl>
