<dl id="bookmark_page">
  <dt>current page content</dt>
  <dd id="bookmark_content">
    <ul data-content="">
      <!--<li></li>-->
    </ul>
  </dd>
  <form id="bookmark_form">
    <label>bookmark name</label>
    <div id="bookmark_input">
      <input id="bookmark_name" type="text"></input>
      <button id="bookmark_save">SAVE</button>
    </div>
  </form>
</dl>
