<dl id="bookmark_page">
  <dt>current page content</dt>
  <dd id="bookmark_content">
    <ul id="bookmark_list"></ul>
  </dd>
  <dt>bookmark title</dt>
  <dd id="bookmark_form">
    <input id="bookmark_name" type="text" placeholder="title: only letters, numbers and underscore"></input>
    <button id="bookmark_save">SAVE</button>
  </dd>
</dl>
