{% set data_o = D_o.data__o( permalink, collections.all ) %}
{{- '' | template_start( data_o ) -}}{# ante process #}

{% set _id_s = F_o.slotId__s( permalink ) %}
{% set _svg_icon %}
<svg class="svg_icon">
{% endset %}

{%- set _template_s %}
:skin:
{% include "parts/slot/skin/hue_base.njk" %}
{% include "parts/slot/skin/light_mode.njk" %}
{% endset -%}

{{- _template_s | section( permalink, rank_n ) | spot | safe | minify_html | template_end( data_o ) -}}{# post process #}
