<svg xmlns="http://www.w3.org/2000/svg"
  class="svg_logo" viewBox="0 0 64 24">
    <circle cx="32" cy="4.5" r="1.6"></circle>
    <line x1="32" y1="7" x2="32" y2="10"></line>
    <polyline points="32 13 32 22 40 11"></polyline>
    <text x="6"  y="10">progress</text>
    <text x="34" y="10">econtent</text>
</svg>
