<dl id="bookmark_display" class="unseen">
  <dt id="bookmark_document" class="truncate">SELECT A DOCUMENT</dt>
  <dd id="bookmark_actions">
    <ul>
      <li id="bookmark_close">{{_svg_icon}}<use href="#icon_close" /></svg>
      <li id="bookmark_link">{{_svg_icon}}<use href="#icon_link" /></svg>
    </ul>
  </dd>
  <dd id="bookmark_labels">NO DOCUMENT SELECTED</dd>
</dl>
