<div data-id="display" class="unseen">
  <dl>
    <dt data-id="title"></dt>
    <dd>
      <ul data-id="list">
        <!--<li></li>-->
      </ul>
    </dd>
  </dl>
  <ul>
    <li data-id="close">{{_svg_icon}}<use href="#icon_close" /></svg>
    <li data-id="link">{{_svg_icon}}<use href="#icon_link" /></svg>
  </ul>
</div>
