
<li data-slot_n="0" data-slot_s="abstract_data_type_(adt)" data--="argument object-oriented programming prototype-based programming telecommunications pre-written code"></li>
<li data-slot_n="1" data-slot_s="abstract_method" data--="cipher decryption subroutines classes encryption bits"></li>
<li data-slot_n="2" data-slot_s="agent_architecture" data--="argument binary search algorithm computing"></li>
<li data-slot_n="3" data-slot_s="agent-based_model_(abm)" data--="decryption subroutines bits bit non-volatile resources"></li>
<li data-slot_n="4" data-slot_s="aggregate_function" data--="encryption values basic unit of information partitioned data sets search algorithm"></li>
<li data-slot_n="5" data-slot_s="agile_software_development" data--="object-oriented programming pre-written code computing binary"></li>
<li data-slot_n="6" data-slot_s="algorithm" data--="object-oriented programming prototype-based programming encryption"></li>
<li data-slot_n="7" data-slot_s="algorithm_design" data--="classes non-volatile resources binary computer architectures computer programs type"></li>
<li data-slot_n="8" data-slot_s="algorithmic_efficiency" data--="decryption classes values type digital electronics"></li>
<li data-slot_n="9" data-slot_s="american_standard_code_for_information_interchange_(ascii)" data--="object-oriented programming prototype-based programming pre-written code subroutines classes"></li>
<li data-slot_n="10" data-slot_s="application_programming_interface_(api)" data--="telecommunications pre-written code subroutines bits non-volatile resources software development code library"></li>
<li data-slot_n="11" data-slot_s="application_software" data--="object-oriented programming subroutines binary search algorithm computer architectures computer programs digital electronics constructor"></li>
<li data-slot_n="12" data-slot_s="array_data_structure" data--="prototype-based programming decryption binary constructor procedure"></li>
<li data-slot_n="13" data-slot_s="artifact" data--="cipher encryption bits non-volatile resources basic unit of information instantiating data sets"></li>
<li data-slot_n="14" data-slot_s="artificial_intelligence_(ai)" data--="argument prototype-based programming digital electronics constructor data sets objects"></li>
<li data-slot_n="15" data-slot_s="ascii" data--="prototype-based programming cipher binary search algorithm values binary computer architectures"></li>
<li data-slot_n="16" data-slot_s="assertion" data--="cipher bits computing instantiating"></li>
<li data-slot_n="17" data-slot_s="associative_array" data--="telecommunications cipher bits non-volatile resources values code library"></li>
<li data-slot_n="18" data-slot_s="automata_theory" data--="values type procedure"></li>
<li data-slot_n="19" data-slot_s="automated_reasoning" data--="encryption bit data sets cryptography"></li>
<li data-slot_n="20" data-slot_s="bandwidth" data--="binary search algorithm values search algorithm binary computer programs"></li>
<li data-slot_n="21" data-slot_s="bayesian_programming" data--="pre-written code binary search algorithm non-volatile resources values computer architectures software development"></li>
<li data-slot_n="22" data-slot_s="benchmark" data--="bits binary data sets"></li>
<li data-slot_n="23" data-slot_s="best,_worst_and_average_case" data--="object-oriented programming computing computer architectures digital electronics"></li>
<li data-slot_n="24" data-slot_s="big_data" data--="object-oriented programming cipher search algorithm constructor instantiating objects"></li>
<li data-slot_n="25" data-slot_s="big_o_notation" data--="decryption binary search algorithm basic unit of information computer programs software development"></li>
<li data-slot_n="26" data-slot_s="binary_number" data--="telecommunications bit instantiating"></li>
<li data-slot_n="27" data-slot_s="binary_search_algorithm" data--="pre-written code binary search algorithm bit values constructor data sets"></li>
<li data-slot_n="28" data-slot_s="binary_tree" data--="object-oriented programming bits binary search algorithm bit values instantiating"></li>
<li data-slot_n="29" data-slot_s="bioinformatics" data--="subroutines binary search algorithm values constructor"></li>
<li data-slot_n="30" data-slot_s="bit" data--="cipher encryption partitioned data sets"></li>
<li data-slot_n="31" data-slot_s="bit_rate_(r)" data--="pre-written code binary search algorithm bit binary data sets"></li>
<li data-slot_n="32" data-slot_s="blacklist" data--="telecommunications classes instantiating"></li>
<li data-slot_n="33" data-slot_s="bmp_file_format" data--="argument cipher classes values computer programs"></li>
<li data-slot_n="34" data-slot_s="boolean_data_type" data--="cipher decryption bits instantiating"></li>
<li data-slot_n="35" data-slot_s="boolean_expression" data--="prototype-based programming instantiating data sets"></li>
<li data-slot_n="36" data-slot_s="boolean_algebra" data--="object-oriented programming pre-written code binary digital electronics code library cryptography"></li>
<li data-slot_n="37" data-slot_s="byte" data--="argument non-volatile resources basic unit of information procedure objects cryptography"></li>
<li data-slot_n="38" data-slot_s="booting" data--="telecommunications non-volatile resources software development"></li>
<li data-slot_n="39" data-slot_s="callback" data--="argument object-oriented programming decryption computing values"></li>
<li data-slot_n="40" data-slot_s="central_processing_unit_(cpu)" data--="bits bit values"></li>
<li data-slot_n="41" data-slot_s="character" data--="cipher computing values partitioned data sets search algorithm code library instantiating"></li>
<li data-slot_n="42" data-slot_s="cipher" data--="bit basic unit of information computer programs software development code library"></li>
<li data-slot_n="43" data-slot_s="class" data--="encryption search algorithm type data sets cryptography"></li>
<li data-slot_n="44" data-slot_s="class-based_programming" data--="prototype-based programming subroutines computing computer architectures digital electronics code library"></li>
<li data-slot_n="45" data-slot_s="class-orientation" data--="bits binary search algorithm values code library constructor objects"></li>
<li data-slot_n="46" data-slot_s="client" data--="pre-written code digital electronics software development"></li>
<li data-slot_n="47" data-slot_s="cleanroom_software_engineering" data--="object-oriented programming telecommunications bit values software development code library data sets"></li>
<li data-slot_n="48" data-slot_s="closure" data--="subroutines encryption software development"></li>
<li data-slot_n="49" data-slot_s="cloud_computing" data--="object-oriented programming prototype-based programming binary search algorithm non-volatile resources values digital electronics"></li>
<li data-slot_n="50" data-slot_s="code_library" data--="cipher classes non-volatile resources values computer architectures"></li>
<li data-slot_n="51" data-slot_s="collection" data--="telecommunications values computer architectures instantiating"></li>
<li data-slot_n="52" data-slot_s="coding" data--="classes bits partitioned data sets code library instantiating"></li>
<li data-slot_n="53" data-slot_s="coding_theory" data--="computing computer architectures computer programs"></li>
<li data-slot_n="54" data-slot_s="cognitive_science" data--="prototype-based programming classes encryption basic unit of information binary computer programs"></li>
<li data-slot_n="55" data-slot_s="comma-separated_values_(csv)" data--="prototype-based programming telecommunications digital electronics"></li>
<li data-slot_n="56" data-slot_s="compiler" data--="computing constructor procedure"></li>
<li data-slot_n="57" data-slot_s="compiler_theory" data--="decryption bits partitioned data sets type"></li>
<li data-slot_n="58" data-slot_s="computability_theory" data--="argument bit non-volatile resources computer architectures constructor"></li>
<li data-slot_n="59" data-slot_s="computation" data--="prototype-based programming pre-written code cipher subroutines binary search algorithm"></li>
<li data-slot_n="60" data-slot_s="computational_biology" data--="object-oriented programming prototype-based programming telecommunications computer architectures"></li>
<li data-slot_n="61" data-slot_s="computational_chemistry" data--="prototype-based programming bits binary search algorithm computing digital electronics data sets"></li>
<li data-slot_n="62" data-slot_s="computational_complexity_theory" data--="bits search algorithm computer architectures type instantiating cryptography"></li>
<li data-slot_n="63" data-slot_s="computational_model" data--="argument decryption constructor"></li>
<li data-slot_n="64" data-slot_s="computational_neuroscience" data--="object-oriented programming pre-written code classes bit type instantiating"></li>
<li data-slot_n="65" data-slot_s="computational_physics" data--="values basic unit of information type"></li>
<li data-slot_n="66" data-slot_s="computational_science" data--="pre-written code cipher bits partitioned data sets binary"></li>
<li data-slot_n="67" data-slot_s="computational_steering" data--="argument telecommunications bit computer architectures data sets objects cryptography"></li>
<li data-slot_n="68" data-slot_s="computer" data--="telecommunications cipher values basic unit of information"></li>
<li data-slot_n="69" data-slot_s="computer_architecture" data--="prototype-based programming pre-written code classes computer programs"></li>
<li data-slot_n="70" data-slot_s="computer_data_storage" data--="basic unit of information partitioned data sets software development"></li>
<li data-slot_n="71" data-slot_s="computer_ethics" data--="object-oriented programming cipher bits bit partitioned data sets"></li>
<li data-slot_n="72" data-slot_s="computer_graphics" data--="cipher encryption binary"></li>
<li data-slot_n="73" data-slot_s="computer_network" data--="pre-written code search algorithm binary procedure data sets"></li>
<li data-slot_n="74" data-slot_s="computer_program" data--="object-oriented programming telecommunications cipher computing cryptography"></li>
<li data-slot_n="75" data-slot_s="computer_programming" data--="type code library instantiating objects"></li>
<li data-slot_n="76" data-slot_s="computer_science" data--="object-oriented programming bit partitioned data sets"></li>
<li data-slot_n="77" data-slot_s="computer_scientist" data--="pre-written code encryption computing values code library"></li>
<li data-slot_n="78" data-slot_s="computer_security" data--="prototype-based programming bits bit"></li>
<li data-slot_n="79" data-slot_s="computer_vision" data--="encryption computing data sets"></li>
<li data-slot_n="80" data-slot_s="computing" data--="object-oriented programming cipher classes partitioned data sets constructor"></li>
<li data-slot_n="81" data-slot_s="concatenation" data--="prototype-based programming telecommunications computing"></li>
<li data-slot_n="82" data-slot_s="concurrency" data--="bit computer architectures code library instantiating"></li>
<li data-slot_n="83" data-slot_s="conditional" data--="bits bit non-volatile resources"></li>
<li data-slot_n="84" data-slot_s="container" data--="prototype-based programming telecommunications computer architectures code library instantiating objects"></li>
<li data-slot_n="85" data-slot_s="continuation-passing_style_(cps)" data--="argument cipher computing digital electronics constructor cryptography"></li>
<li data-slot_n="86" data-slot_s="control_flow" data--="classes binary search algorithm basic unit of information partitioned data sets type instantiating"></li>
<li data-slot_n="87" data-slot_s="creative_commons_(cc)" data--="object-oriented programming encryption computing values software development"></li>
<li data-slot_n="88" data-slot_s="cryptography" data--="classes values instantiating cryptography"></li>
<li data-slot_n="89" data-slot_s="csv" data--="prototype-based programming bit values partitioned data sets software development"></li>
<li data-slot_n="90" data-slot_s="cyberbullying" data--="bit partitioned data sets type software development"></li>
<li data-slot_n="91" data-slot_s="cyberspace" data--="object-oriented programming decryption bits values type digital electronics"></li>
<li data-slot_n="92" data-slot_s="daemon" data--="subroutines classes computing"></li>
<li data-slot_n="93" data-slot_s="data_center" data--="cipher bits values basic unit of information instantiating"></li>
<li data-slot_n="94" data-slot_s="database" data--="binary digital electronics objects"></li>
<li data-slot_n="95" data-slot_s="data_mining" data--="prototype-based programming telecommunications classes non-volatile resources computer architectures digital electronics cryptography"></li>
<li data-slot_n="96" data-slot_s="data_science" data--="prototype-based programming encryption code library constructor cryptography"></li>
<li data-slot_n="97" data-slot_s="data_structure" data--="object-oriented programming computing binary computer architectures type"></li>
<li data-slot_n="98" data-slot_s="data_type" data--="pre-written code cipher classes values type instantiating"></li>
<li data-slot_n="99" data-slot_s="debugging" data--="prototype-based programming computer programs software development"></li>
<li data-slot_n="100" data-slot_s="declaration" data--="classes bit values basic unit of information computer programs constructor"></li>
<li data-slot_n="101" data-slot_s="digital_data" data--="values binary type instantiating data sets"></li>
<li data-slot_n="102" data-slot_s="digital_signal_processing_(dsp)" data--="decryption type code library data sets"></li>
<li data-slot_n="103" data-slot_s="discrete_event_simulation_(des)" data--="binary data sets objects"></li>
<li data-slot_n="104" data-slot_s="disk_storage" data--="object-oriented programming prototype-based programming cipher binary search algorithm partitioned data sets procedure"></li>
<li data-slot_n="105" data-slot_s="distributed_computing" data--="pre-written code computer programs"></li>
<li data-slot_n="106" data-slot_s="divide_and_conquer_algorithm" data--="cipher non-volatile resources computer programs digital electronics"></li>
<li data-slot_n="107" data-slot_s="dns" data--="decryption encryption bits values digital electronics constructor"></li>
<li data-slot_n="108" data-slot_s="documentation" data--="non-volatile resources basic unit of information computer programs software development"></li>
<li data-slot_n="109" data-slot_s="domain" data--="pre-written code bits partitioned data sets constructor data sets objects"></li>
<li data-slot_n="110" data-slot_s="domain_name_system_(dns)" data--="object-oriented programming encryption binary search algorithm computer architectures software development"></li>
<li data-slot_n="111" data-slot_s="double-precision_floating-point_format" data--="cipher decryption bit"></li>
<li data-slot_n="112" data-slot_s="download" data--="object-oriented programming prototype-based programming values computer programs data sets"></li>
<li data-slot_n="113" data-slot_s="edge_device" data--="cipher encryption non-volatile resources partitioned data sets computer architectures instantiating"></li>
<li data-slot_n="114" data-slot_s="encryption" data--="argument object-oriented programming computing basic unit of information computer programs digital electronics constructor"></li>
<li data-slot_n="115" data-slot_s="event" data--="prototype-based programming binary objects"></li>
<li data-slot_n="116" data-slot_s="event-driven_programming" data--="pre-written code decryption partitioned data sets computer architectures objects"></li>
<li data-slot_n="117" data-slot_s="evolutionary_computing" data--="cipher bits values basic unit of information partitioned data sets computer architectures"></li>
<li data-slot_n="118" data-slot_s="executable" data--="bits computing values"></li>
<li data-slot_n="119" data-slot_s="executable_module" data--="decryption bits binary search algorithm code library objects"></li>
<li data-slot_n="120" data-slot_s="execution" data--="bit values constructor procedure cryptography"></li>
<li data-slot_n="121" data-slot_s="exception_handling" data--="argument bits search algorithm digital electronics constructor"></li>
<li data-slot_n="122" data-slot_s="expression" data--="telecommunications pre-written code subroutines encryption"></li>
<li data-slot_n="123" data-slot_s="external_library" data--="subroutines classes values computer architectures constructor procedure"></li>
<li data-slot_n="124" data-slot_s="fault-tolerant_computer_system" data--="classes bits binary search algorithm constructor"></li>
<li data-slot_n="125" data-slot_s="feasibility_study" data--="bits partitioned data sets search algorithm data sets objects cryptography"></li>
<li data-slot_n="126" data-slot_s="field" data--="decryption subroutines bit values"></li>
<li data-slot_n="127" data-slot_s="filename_extension" data--="argument basic unit of information digital electronics software development code library cryptography"></li>
<li data-slot_n="128" data-slot_s="filter_(software)" data--="prototype-based programming telecommunications computing basic unit of information"></li>
<li data-slot_n="129" data-slot_s="floating_point_arithmetic" data--="prototype-based programming decryption bits binary search algorithm values data sets"></li>
<li data-slot_n="130" data-slot_s="for_loop" data--="bits computing bit procedure"></li>
<li data-slot_n="131" data-slot_s="formal_methods" data--="argument object-oriented programming pre-written code encryption values"></li>
<li data-slot_n="132" data-slot_s="formal_verification" data--="prototype-based programming binary search algorithm computer programs type constructor cryptography"></li>
<li data-slot_n="133" data-slot_s="functional_programming" data--="prototype-based programming cipher partitioned data sets search algorithm digital electronics objects"></li>
<li data-slot_n="134" data-slot_s="game_theory" data--="subroutines basic unit of information computer architectures data sets"></li>
<li data-slot_n="135" data-slot_s="garbage_in,_garbage_out_(gigo)" data--="object-oriented programming decryption cryptography"></li>
<li data-slot_n="136" data-slot_s="graphics_interchange_format" data--="telecommunications values cryptography"></li>
<li data-slot_n="137" data-slot_s="gigabyte" data--="prototype-based programming encryption bits bit values computer programs data sets"></li>
<li data-slot_n="138" data-slot_s="global_variable" data--="bits computing search algorithm constructor"></li>
<li data-slot_n="139" data-slot_s="graph_theory" data--="object-oriented programming cipher software development"></li>
<li data-slot_n="140" data-slot_s="handle" data--="computing procedure cryptography"></li>
<li data-slot_n="141" data-slot_s="hard_problem" data--="decryption classes instantiating"></li>
<li data-slot_n="142" data-slot_s="hash_function" data--="object-oriented programming prototype-based programming values computer architectures type digital electronics"></li>
<li data-slot_n="143" data-slot_s="hash_table" data--="argument object-oriented programming procedure instantiating data sets"></li>
<li data-slot_n="144" data-slot_s="heap" data--="binary digital electronics constructor"></li>
<li data-slot_n="145" data-slot_s="heapsort" data--="prototype-based programming classes values basic unit of information procedure objects"></li>
<li data-slot_n="146" data-slot_s="human-computer_interaction_(hci)" data--="decryption basic unit of information partitioned data sets instantiating cryptography"></li>
<li data-slot_n="147" data-slot_s="identifier" data--="telecommunications cipher bit procedure"></li>
<li data-slot_n="148" data-slot_s="ide" data--="argument encryption bits values search algorithm"></li>
<li data-slot_n="149" data-slot_s="image_processing" data--="prototype-based programming values search algorithm constructor procedure"></li>
<li data-slot_n="150" data-slot_s="imperative_programming" data--="partitioned data sets software development"></li>
<li data-slot_n="151" data-slot_s="incremental_build_model" data--="bits non-volatile resources values binary computer architectures software development"></li>
<li data-slot_n="152" data-slot_s="information_space_analysis" data--="subroutines classes bits computing bit"></li>
<li data-slot_n="153" data-slot_s="information_visualization" data--="bit type code library objects cryptography"></li>
<li data-slot_n="154" data-slot_s="inheritance" data--="telecommunications subroutines binary software development constructor cryptography"></li>
<li data-slot_n="155" data-slot_s="input/output_(i/o)" data--="telecommunications non-volatile resources search algorithm"></li>
<li data-slot_n="156" data-slot_s="insertion_sort" data--="prototype-based programming encryption bit binary"></li>
<li data-slot_n="157" data-slot_s="instruction_cycle" data--="argument decryption computer programs type"></li>
<li data-slot_n="158" data-slot_s="integer" data--="pre-written code encryption binary search algorithm basic unit of information software development constructor objects"></li>
<li data-slot_n="159" data-slot_s="integrated_development_environment_(ide)" data--="classes binary search algorithm computing search algorithm type software development instantiating"></li>
<li data-slot_n="160" data-slot_s="integration_testing" data--="decryption computing bit search algorithm digital electronics instantiating"></li>
<li data-slot_n="161" data-slot_s="intellectual_property_(ip)" data--="telecommunications computer architectures computer programs digital electronics software development code library"></li>
<li data-slot_n="162" data-slot_s="intelligent_agent" data--="argument prototype-based programming pre-written code subroutines bits constructor procedure"></li>
<li data-slot_n="163" data-slot_s="interface" data--="binary search algorithm procedure objects"></li>
<li data-slot_n="164" data-slot_s="internal_documentation" data--="telecommunications cipher objects"></li>
<li data-slot_n="165" data-slot_s="internet" data--="telecommunications values data sets"></li>
<li data-slot_n="166" data-slot_s="internet_bot" data--="prototype-based programming subroutines computing bit search algorithm instantiating data sets"></li>
<li data-slot_n="167" data-slot_s="interpreter" data--="subroutines bit values digital electronics"></li>
<li data-slot_n="168" data-slot_s="invariant" data--="bit partitioned data sets computer architectures instantiating"></li>
<li data-slot_n="169" data-slot_s="iteration" data--="argument search algorithm computer architectures digital electronics instantiating"></li>
<li data-slot_n="170" data-slot_s="java" data--="pre-written code code library data sets"></li>
<li data-slot_n="171" data-slot_s="kernel" data--="partitioned data sets search algorithm software development procedure"></li>
<li data-slot_n="172" data-slot_s="library_(computing)" data--="argument cipher binary constructor"></li>
<li data-slot_n="173" data-slot_s="linear_search" data--="cipher classes non-volatile resources computer architectures software development code library"></li>
<li data-slot_n="174" data-slot_s="linked_list" data--="argument prototype-based programming partitioned data sets"></li>
<li data-slot_n="175" data-slot_s="linker" data--="telecommunications pre-written code search algorithm binary computer architectures"></li>
<li data-slot_n="176" data-slot_s="list" data--="encryption binary search algorithm values search algorithm code library objects"></li>
<li data-slot_n="177" data-slot_s="loader" data--="prototype-based programming decryption subroutines classes encryption"></li>
<li data-slot_n="178" data-slot_s="logic_error" data--="bit procedure cryptography"></li>
<li data-slot_n="179" data-slot_s="logic_programming" data--="prototype-based programming bits non-volatile resources partitioned data sets computer architectures"></li>
<li data-slot_n="180" data-slot_s="machine_learning_(ml)" data--="argument prototype-based programming computer programs objects"></li>
<li data-slot_n="181" data-slot_s="machine_vision_(mv)" data--="classes code library instantiating"></li>
<li data-slot_n="182" data-slot_s="mathematical_logic" data--="decryption bits partitioned data sets"></li>
<li data-slot_n="183" data-slot_s="matrix" data--="cipher binary search algorithm values partitioned data sets search algorithm type cryptography"></li>
<li data-slot_n="184" data-slot_s="memory" data--="object-oriented programming telecommunications subroutines data sets"></li>
<li data-slot_n="185" data-slot_s="merge_sort" data--="telecommunications binary search algorithm search algorithm binary"></li>
<li data-slot_n="186" data-slot_s="method" data--="bits basic unit of information code library"></li>
<li data-slot_n="187" data-slot_s="methodology" data--="argument decryption values computer programs type code library instantiating"></li>
<li data-slot_n="188" data-slot_s="modem" data--="prototype-based programming telecommunications basic unit of information computer programs procedure objects"></li>
<li data-slot_n="189" data-slot_s="natural_language_processing_(nlp)" data--="object-oriented programming code library constructor instantiating data sets"></li>
<li data-slot_n="190" data-slot_s="node" data--="cipher bits values type"></li>
<li data-slot_n="191" data-slot_s="number_theory" data--="values binary procedure"></li>
<li data-slot_n="192" data-slot_s="numerical_analysis" data--="subroutines bits values search algorithm computer programs procedure instantiating"></li>
<li data-slot_n="193" data-slot_s="numerical_method" data--="decryption subroutines encryption values search algorithm binary objects"></li>
<li data-slot_n="194" data-slot_s="object" data--="subroutines classes bit values"></li>
<li data-slot_n="195" data-slot_s="object_code" data--="telecommunications bit digital electronics data sets"></li>
<li data-slot_n="196" data-slot_s="object-oriented_analysis_and_design_(ooad)" data--="encryption basic unit of information partitioned data sets procedure data sets"></li>
<li data-slot_n="197" data-slot_s="object-oriented_programming_(oop)" data--="pre-written code subroutines bit values binary"></li>
<li data-slot_n="198" data-slot_s="open-source_software_(oss)" data--="argument prototype-based programming encryption bits"></li>
<li data-slot_n="199" data-slot_s="operating_system_(os)" data--="telecommunications decryption computer programs"></li>
<li data-slot_n="200" data-slot_s="optical_fiber" data--="object-oriented programming binary search algorithm partitioned data sets type instantiating"></li>
<li data-slot_n="201" data-slot_s="pair_programming" data--="cipher computer architectures"></li>
<li data-slot_n="202" data-slot_s="parallel_computing" data--="prototype-based programming bits objects"></li>
<li data-slot_n="203" data-slot_s="parameter" data--="prototype-based programming subroutines values instantiating objects"></li>
<li data-slot_n="204" data-slot_s="peripheral" data--="cipher encryption binary search algorithm non-volatile resources"></li>
<li data-slot_n="205" data-slot_s="pointer" data--="cipher computing type software development"></li>
<li data-slot_n="206" data-slot_s="postcondition" data--="argument object-oriented programming prototype-based programming subroutines binary search algorithm search algorithm constructor"></li>
<li data-slot_n="207" data-slot_s="precondition" data--="computing bit computer programs digital electronics"></li>
<li data-slot_n="208" data-slot_s="primary_storage" data--="prototype-based programming encryption bit computer programs procedure cryptography"></li>
<li data-slot_n="209" data-slot_s="primitive_data_type" data--="object-oriented programming prototype-based programming computing basic unit of information type software development constructor"></li>
<li data-slot_n="210" data-slot_s="priority_queue" data--="prototype-based programming classes non-volatile resources basic unit of information objects"></li>
<li data-slot_n="211" data-slot_s="procedural_programming" data--="argument cipher subroutines type software development cryptography"></li>
<li data-slot_n="212" data-slot_s="procedure" data--="subroutines bits values constructor"></li>
<li data-slot_n="213" data-slot_s="program_lifecycle_phase" data--="computer programs digital electronics software development instantiating"></li>
<li data-slot_n="214" data-slot_s="programming_language" data--="values computer architectures instantiating"></li>
<li data-slot_n="215" data-slot_s="programming_language_implementation" data--="cipher computing values digital electronics"></li>
<li data-slot_n="216" data-slot_s="programming_language_theory" data--="basic unit of information computer architectures digital electronics code library constructor"></li>
<li data-slot_n="217" data-slot_s="prolog" data--="prototype-based programming decryption binary search algorithm bit search algorithm software development instantiating"></li>
<li data-slot_n="218" data-slot_s="python" data--="argument decryption non-volatile resources values search algorithm instantiating"></li>
<li data-slot_n="219" data-slot_s="quantum_computing" data--="object-oriented programming binary search algorithm search algorithm binary software development"></li>
<li data-slot_n="220" data-slot_s="queue" data--="classes computing non-volatile resources software development code library"></li>
<li data-slot_n="221" data-slot_s="quicksort" data--="subroutines bits computing computer programs type"></li>
<li data-slot_n="222" data-slot_s="r_programming_language" data--="prototype-based programming telecommunications subroutines binary search algorithm computer architectures data sets cryptography"></li>
<li data-slot_n="223" data-slot_s="radix" data--="encryption values computer programs"></li>
<li data-slot_n="224" data-slot_s="record" data--="argument binary search algorithm bit"></li>
<li data-slot_n="225" data-slot_s="recursion" data--="computing constructor"></li>
<li data-slot_n="226" data-slot_s="reference" data--="cipher binary constructor"></li>
<li data-slot_n="227" data-slot_s="reference_counting" data--="argument object-oriented programming prototype-based programming binary search algorithm values computer architectures computer programs"></li>
<li data-slot_n="228" data-slot_s="relational_database" data--="telecommunications subroutines digital electronics instantiating data sets"></li>
<li data-slot_n="229" data-slot_s="reliability_engineering" data--="pre-written code cipher classes encryption search algorithm type data sets"></li>
<li data-slot_n="230" data-slot_s="regression_testing" data--="telecommunications cipher values cryptography"></li>
<li data-slot_n="231" data-slot_s="requirements_analysis" data--="prototype-based programming classes bit partitioned data sets digital electronics software development instantiating"></li>
<li data-slot_n="232" data-slot_s="robotics" data--="values digital electronics software development procedure instantiating"></li>
<li data-slot_n="233" data-slot_s="round-off_error" data--="cipher binary search algorithm computing non-volatile resources basic unit of information software development constructor"></li>
<li data-slot_n="234" data-slot_s="router" data--="classes bit partitioned data sets"></li>
<li data-slot_n="235" data-slot_s="routing_table" data--="telecommunications cipher classes non-volatile resources objects"></li>
<li data-slot_n="236" data-slot_s="run_time" data--="decryption code library objects"></li>
<li data-slot_n="237" data-slot_s="run_time_error" data--="decryption non-volatile resources basic unit of information digital electronics"></li>
<li data-slot_n="238" data-slot_s="search_algorithm" data--="telecommunications cipher subroutines basic unit of information partitioned data sets"></li>
<li data-slot_n="239" data-slot_s="secondary_storage" data--="argument values binary procedure"></li>
<li data-slot_n="240" data-slot_s="selection_sort" data--="values search algorithm"></li>
<li data-slot_n="241" data-slot_s="semantics" data--="argument object-oriented programming decryption values basic unit of information constructor"></li>
<li data-slot_n="242" data-slot_s="sequence" data--="argument object-oriented programming basic unit of information partitioned data sets computer programs instantiating objects"></li>
<li data-slot_n="243" data-slot_s="serializability" data--="classes computer programs procedure data sets"></li>
<li data-slot_n="244" data-slot_s="serialization" data--="classes computing software development"></li>
<li data-slot_n="245" data-slot_s="service_level_agreement" data--="telecommunications subroutines cryptography"></li>
<li data-slot_n="246" data-slot_s="set" data--="object-oriented programming pre-written code bits binary search algorithm values"></li>
<li data-slot_n="247" data-slot_s="soft_computing" data--="pre-written code classes values basic unit of information search algorithm"></li>
<li data-slot_n="248" data-slot_s="software" data--="bit values basic unit of information type constructor data sets cryptography"></li>
<li data-slot_n="249" data-slot_s="software_agent" data--="object-oriented programming encryption digital electronics"></li>
<li data-slot_n="250" data-slot_s="software_construction" data--="telecommunications cipher instantiating"></li>
<li data-slot_n="251" data-slot_s="software_deployment" data--="bits code library"></li>
<li data-slot_n="252" data-slot_s="software_design" data--="telecommunications type software development instantiating"></li>
<li data-slot_n="253" data-slot_s="software_development" data--="object-oriented programming bits binary search algorithm computer architectures procedure"></li>
<li data-slot_n="254" data-slot_s="software_development_process" data--="decryption classes encryption bits software development procedure"></li>
<li data-slot_n="255" data-slot_s="software_engineering" data--="prototype-based programming telecommunications decryption values data sets cryptography"></li>
<li data-slot_n="256" data-slot_s="software_maintenance" data--="subroutines binary search algorithm bit values"></li>
<li data-slot_n="257" data-slot_s="software_prototyping" data--="object-oriented programming binary search algorithm bit basic unit of information search algorithm type"></li>
<li data-slot_n="258" data-slot_s="software_requirements_specification" data--="bits binary search algorithm procedure"></li>
<li data-slot_n="259" data-slot_s="software_testing" data--="prototype-based programming values software development"></li>
<li data-slot_n="260" data-slot_s="sorting_algorithm" data--="argument object-oriented programming data sets"></li>
<li data-slot_n="261" data-slot_s="source_code" data--="prototype-based programming bit data sets"></li>
<li data-slot_n="262" data-slot_s="spiral_model" data--="classes non-volatile resources search algorithm computer programs code library objects"></li>
<li data-slot_n="263" data-slot_s="stack" data--="prototype-based programming values digital electronics software development data sets"></li>
<li data-slot_n="264" data-slot_s="state" data--="cipher binary digital electronics code library"></li>
<li data-slot_n="265" data-slot_s="statement" data--="pre-written code bit values computer architectures code library objects"></li>
<li data-slot_n="266" data-slot_s="storage" data--="prototype-based programming decryption non-volatile resources values type cryptography"></li>
<li data-slot_n="267" data-slot_s="stream" data--="object-oriented programming telecommunications values partitioned data sets search algorithm"></li>
<li data-slot_n="268" data-slot_s="string" data--="argument object-oriented programming decryption binary search algorithm software development"></li>
<li data-slot_n="269" data-slot_s="structured_storage" data--="argument object-oriented programming prototype-based programming values basic unit of information digital electronics"></li>
<li data-slot_n="270" data-slot_s="subroutine" data--="telecommunications decryption classes values computer programs instantiating objects"></li>
<li data-slot_n="271" data-slot_s="symbolic_computation" data--="object-oriented programming encryption bits search algorithm computer architectures procedure data sets"></li>
<li data-slot_n="272" data-slot_s="syntax" data--="object-oriented programming classes basic unit of information"></li>
<li data-slot_n="273" data-slot_s="syntax_error" data--="object-oriented programming decryption non-volatile resources computer architectures"></li>
<li data-slot_n="274" data-slot_s="system_console" data--="basic unit of information computer programs digital electronics procedure"></li>
<li data-slot_n="275" data-slot_s="technical_documentation" data--="partitioned data sets computer architectures computer programs data sets"></li>
<li data-slot_n="276" data-slot_s="third-generation_programming_language" data--="subroutines values computer architectures"></li>
<li data-slot_n="277" data-slot_s="top-down_and_bottom-up_design" data--="computing basic unit of information type instantiating"></li>
<li data-slot_n="278" data-slot_s="tree" data--="computing non-volatile resources search algorithm cryptography"></li>
<li data-slot_n="279" data-slot_s="type_theory" data--="argument classes values partitioned data sets binary computer architectures constructor"></li>
<li data-slot_n="280" data-slot_s="upload" data--="prototype-based programming cipher binary computer programs constructor"></li>
<li data-slot_n="281" data-slot_s="uniform_resource_locator_(url)" data--="cipher partitioned data sets constructor instantiating"></li>
<li data-slot_n="282" data-slot_s="user" data--="argument prototype-based programming classes values partitioned data sets binary"></li>
<li data-slot_n="283" data-slot_s="user_agent" data--="classes encryption non-volatile resources search algorithm"></li>
<li data-slot_n="284" data-slot_s="user_interface_(ui)" data--="prototype-based programming encryption values binary digital electronics objects"></li>
<li data-slot_n="285" data-slot_s="user_interface_design" data--="cipher constructor cryptography"></li>
<li data-slot_n="286" data-slot_s="variable" data--="prototype-based programming subroutines computer architectures"></li>
<li data-slot_n="287" data-slot_s="virtual_machine_(vm)" data--="prototype-based programming computing computer architectures procedure data sets"></li>
<li data-slot_n="288" data-slot_s="v-model" data--="argument values partitioned data sets data sets cryptography"></li>
<li data-slot_n="289" data-slot_s="waterfall_model" data--="pre-written code subroutines bit instantiating"></li>
<li data-slot_n="290" data-slot_s="waveform_audio_file_format" data--="prototype-based programming pre-written code bit values partitioned data sets"></li>
<li data-slot_n="291" data-slot_s="web_crawler" data--="argument bits partitioned data sets software development constructor objects"></li>
<li data-slot_n="292" data-slot_s="wi-fi" data--="bit type digital electronics software development"></li>
<li data-slot_n="293" data-slot_s="xhtml" data--="object-oriented programming binary search algorithm computing non-volatile resources constructor"></li>