{% set data_o = D_o.data__o( permalink, collections.all ) %}
{{- '' | template_start( data_o ) -}}{# ante process #}

{% set _id_s = F_o.slotId__s( permalink ) %}
{% set _svg_icon %}
<svg class="svg_icon">
{% endset %}

{%- set _template_s %}
<h2>graph</h2>
<div id="docs_graph">
{% include "parts/slot/docs_labels_data.njk" %}
{% include "parts/slot/slider.njk" %}
  <div id="graph">
  {% include "parts/slot/graph.svg" %}
  </div>
  {% include "parts/slot/tools/link.njk" %}
  {% include "parts/slot/node_display.njk" %}
</div>
{% endset -%}

{{- _template_s | section( permalink, rank_n ) | spot | safe | minify_html | template_end( data_o ) -}}{# post process #}
