<dl id="node_display" class="unseen">
  <dt id="node_document">SELECT A DOCUMENT</dt>
  <dd id="node_actions">
    <ul>
      <li id="node_close">{{_svg_icon}}<use href="#icon_close" /></svg>
      <li id="node_link">{{_svg_icon}}<use href="#icon_link" /></svg>
    </ul>
  </dd>
  <dd id="node_labels">NO DOCUMENT SELECTED</dd>
</dl>
