<div data-id="dialog_block" class="retract">
  <dl>
    <dt data-id="dialog_block_title"></dt>
    <dd>
      <ul data-id="dialog_block_list">
        <!--<li></li>-->
      </ul>
    </dd>
  </dl>
  <ul>
    <li data-id="close">{{_svg_icon}}<use href="#icon_close" /></svg>
  </ul>
</div>
